/**
 * @name d
 * @author Disease#5663
 * @version 1.0.0
 * @description Based on Outlook Web.
 * @source https://github.com/maenDisease/Outlook
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Outlook
*/

@import url('https://maendisease.github.io/Outlook/Outlook.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');

:root {
  --home-image: url('https://static.wikia.nocookie.net/8772067e-9261-47c6-a5cb-dec3dc0f1cca');
  --accent-hue: 197;
  --accent-saturation: 67%;
  --accent-brightness: 42%;
  --gradient-toggle: 1;
  --gradient-hue-shift: 0.09;
  --gradient-saturation: 71%;
  --gradient-deg: 187deg;
  --customFont: Segoe UI;
}

/* Any custom CSS below here */


